.wrapper {
  :global(.ant-form) {
    margin-bottom: 48px;
  }

  :global(.ant-form-item-label) {
    display: flex;
  }

  :global(.ant-drawer-header) {
    height: 73px;
    display: flex;
    align-items: center;
  }
}

.delete {
  margin-left: 24px;
}